/* Logon Basic Styles */

.logon-container {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.logon-container > *{
    margin: 3%;
}

.logon-container .section-form {
    width: 100%;
    max-width: 350px;
}

.logon-container .section-form form {
    margin-top: 100px;
}

.logon-container .section-form h1 {
    font-size: 32px;
    margin-bottom: 32px;
}

.logon-container .section-form a {
    display: flex;
    align-items: center;
    margin-top: 40px;
    color: #41414d;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    transition: .2s;
}

.logon-container .section-form a:hover{
    opacity: .8;
}

.logon-container .section-form a svg{
    margin-right: 8px;
}

.logon-container .section-img {
    max-width: 80%;
}