/* Estilo da Página Logon */


/* logon-container */

.logon-container {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.logon-container > *{
    margin: 3%;
}


/* section-form */

.logon-container .section-form {
    width: 100%;
    max-width: 350px;
}

.logon-container .section-form form {
    margin-top: 100px;
}

.logon-container .section-form h1 {
    font-size: 32px;
    margin-bottom: 32px;
}


/* section-img */

.logon-container .section-img {
    max-width: 80%;
}